<html>
    <head>
        <title>OOI UI Flask CILogon Test</title>
    </head>
    <body>
        <h1>OOI UI Flask CILogon Test</h1>
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.user_name %}
            <h2>Hi, {{ current_user.first_name }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <h2>I don't know you!</h2>
            <p><a href="{{ url_for('oauth_authorize', provider='cilogon') }}">Login with CILogon</a></p>
        {% endif %}
    </body>
</html>
